version: "3.8"

services:
  app:
    build: .
    container_name: pushpan-app
    ports:
      - "8090:8090"
    networks:
      - s-network
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:latest
    container_name: pushpan_postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: rootuser
      POSTGRES_DB: pushpan
    ports:
      - "5432:5432"
    networks:
      - s-network
    volumes:
      - ./db_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 5s
      retries: 5

networks:
  s-network:
    driver: bridge